@page "/SetNewPassword"
@using HappyInsurance.BlazorCoreModules.CoreComponents
@inherits SetNewPassComponent

<CascadingValue Value="@Message">
    <Alert/>
</CascadingValue>



<div class="container my-4">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <RadzenTemplateForm TItem="@SetNewPassComponent.PassModel" Data="@_passModel" Submit="@HandleSetPasswordAsync">
                <div class="col-lg-3 offset-md-5">
                    <div class="col-lg-2 " style="margin-left: 4px">
                        <RadzenBadge BadgeStyle="BadgeStyle.Warning">
                            @PhoneNumber
                        </RadzenBadge>
                    </div>
                </div>
                <RadzenFieldset Text="New Password">
                    <p>
                        <RadzenTextBox Name="New Password" Placeholder="Type your new Password. . . " @bind-Value="@_passModel.Password" Style="display:block;text-align: center"> </RadzenTextBox>
                        <RadzenRequiredValidator Component="New Password" Text="New Password is required!" Style="position:absolute" Popup="true"/>
                    </p>
                    <div class="col-lg-3 offset-md-5">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="SetPass" ButtonStyle="ButtonStyle.Primary"/>
                    </div>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </div>
    </div>
</div>





@code {


    private SetNewPassComponent.PassModel _passModel { get; set; } = new SetNewPassComponent.PassModel();

    private async Task HandleSetPasswordAsync()
    {
        await SetNewPassAsync(_passModel);
    }


}